# Linear Regression - LAST YEAR WORK

Link for the dataset: https://www.kaggle.com/datasets/kianindeed/imdb-movie-dataset-dec-2023

This dataset contains top IMDB movies updated till 15 Dec 2023. This file in the csv fromat and it contains 11 columns namely: Moive Name, Rating, Votes, Meta Score, Genre, PG Rating, Year, Duration, Cast, Director. The data has 1950 rows

**Cleaning and modifying data**

In [2]:
# install all necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [3]:
# uploading dataset to juputer notebook
df = pd.read_csv("Numeric data (last year work).csv")

In [4]:
# read the data and see how I can modify this dataset
df.head()

# I have to google some names of columns to better understand what they mean
# Metascore is considered the rating of a film. Scores are assigned 
# to movie's reviews of large group of the world's most respected critics, 
# and weighted average are applied to summarize their opinions range.
# https://www.imdb.com/list/ls051211184/#:~:text=Metascore%20is%20considered%20the%20rating,to%20summarize%20their%20opinions%20range.

# PG rating means to what audience these movies
# if there is any restrictions for audience

,Rating,Votes,Meta Score,Year,Duration,Action,Adventure,Animation,Biography,Comedy,...,PG Rating_NC-17,PG Rating_PG,PG Rating_PG-13,PG Rating_Passed,PG Rating_R,PG Rating_TV-14,PG Rating_TV-G,PG Rating_TV-MA,PG Rating_TV-PG,PG Rating_TV-Y7
0,6.5,90000.0,67.0,2023,138,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,7.4,24000.0,66.0,2023,116,0,1,0,0,1,...,0,1,0,0,0,0,0,0,0,0
2,7.0,21000.0,85.0,2023,117,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
3,7.1,56000.0,54.0,2023,157,1,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,6.6,66000.0,64.0,2023,158,1,1,0,1,0,...,0,0,0,0,1,0,0,0,0,0

In [ ]:
df.describe()

# I have 1 131 rows that is why I can experiment with oversampling

,Rating,Votes,Meta Score,Year,Duration,Action,Adventure,Animation,Biography,Comedy,...,PG Rating_NC-17,PG Rating_PG,PG Rating_PG-13,PG Rating_Passed,PG Rating_R,PG Rating_TV-14,PG Rating_TV-G,PG Rating_TV-MA,PG Rating_TV-PG,PG Rating_TV-Y7
count,1131.000000,1131.000000,1131.000000,1131.000000,1131.000000,1131.000000,1131.000000,1131.000000,1131.000000,1131.000000,...,1131.000000,1131.000000,1131.000000,1131.0,1131.000000,1131.000000,1131.0,1131.000000,1131.000000,1131.000000
mean,6.923431,192291.272325,62.128205,2008.344828,113.503979,0.302387,0.259947,0.058355,0.061892,0.374005,...,0.003537,0.150309,0.319187,0.0,0.494253,0.001768,0.0,0.007958,0.001768,0.001768
std,0.524235,124560.831215,13.304880,12.593070,16.489652,0.459495,0.438799,0.234518,0.241066,0.484079,...,0.059391,0.357533,0.466368,0.0,0.500188,0.042033,0.0,0.088889,0.042033,0.042033
min,5.900000,213.000000,35.000000,1978.000000,69.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
25%,6.500000,91000.000000,51.000000,1999.000000,101.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
50%,6.900000,177000.000000,62.000000,2011.000000,112.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
75%,7.300000,282000.000000,72.000000,2019.000000,125.000000,1.000000,1.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,1.000000,0.0,1.000000,0.000000,0.0,0.000000,0.000000,0.000000
max,8.100000,472000.000000,99.000000,2023.000000,158.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,0.0,1.000000,1.000000,1.000000